[core]
	editor = :'C:\\Users\\shahj\\Desktop\\LIU download\\Data Management and Mining\\Programs\\Sublime Text Build 3176' -n -w
[gui]
	recentrepo = C:/Users/shahj/Shahjee
[user]
	name = Shah Najeeb
	email = shahjahannajeeb@gmail.com
